.rightBar {
    background-color: white;
    /* border-left: 1px solid rgb(218, 218, 218); */
    width: 400px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    /* z-index: -1; */

    display: flex;
    flex-direction: column;

    box-shadow: -10px 0px 17px 0px #dfdfdf85;
}

#rightTopBar {
    height: 60px;
    width: 100%;
    background-color: #34ba6e;
}

#chatBox {
    width: 100%;
    margin-bottom: 170px;
    flex: 1;
}

#chatInputDiv {
    margin-bottom: 70px;
    border-top: 1px solid rgb(170, 170, 170);
    height: 100px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
}