<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is working</title>

    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Local style -->
    <link rel="stylesheet" href="/static/streamStyle.css">

    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- CryptoJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <p id="topTitle">Video call</p>
        </nav>
    </header>

    <main>
        <div id="welcome">
            <form>
                <input placeholder="Username" required type="text" id="inputUserName">
                <input placeholder="방 이름 입력" required type="text" id="inputRoomName">
                <button>Join</button>
            </form>
        </div>

        <div id="call">
            <div id="myStream" style="width: fit-content;">
                <div id="localBgc">
                    <div id="myName">김강수</div>
                    <!-- <h1 id="myName">김강수</h1> -->
                    <!-- <div id="myName">김강수</div> -->
                    <video id="myFace" autoplay playsinline width="400"></video>
                </div>
            </div>
        </div>

        <div class="footBar" id="footBar">
            <div id="mute" class="bottomBtn" style="margin-left: 5px;">
                <i class="bi bi-mic-fill"></i>
            </div>

            <div id="camera" class="bottomBtn">
                <i class="bi bi-camera-video-fill"></i>
            </div>

            <select id="cameras"></select>
        </div>

        <!-- <div id="capImage" style="width: 100px; height: 100px; background-color: black;">사진 촬영</div>

        <div class="imgDiv" hidden>
            <canvas id="canvas" hidden></canvas>
            <img id="photo" width="400" height="300">
        </div> -->
    </main>




    <div id="ttsDiv"></div>
    <script src="/static/app.js"></script>
    <script src="/static/js/tts.js"></script>
    <script src="/static/js/userId.js"></script>
</body>

</html>